.item-detail {
  display: flex;
  align-items: flex-start; 
  gap: 15px;
  padding: 20px;
  padding-top: 80px; 
}

.item-detail-left {
  flex: 1;
  max-width: 50%; /* Aumenté el ancho máximo para permitir que la imagen sea más grande */
  display: flex; 
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
}

.main-image {
  width: 100%; /* La imagen ocupa todo el contenedor disponible */
  max-width: 400px; /* Tamaño máximo */
  height: auto; /* Mantén la proporción */
  object-fit: contain; /* Ajusta el contenido sin distorsión */
  margin: 0; /* Eliminé márgenes innecesarios */
}

.item-detail-right {
  flex: 2; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: left;
}

.product-price {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left; 
  margin-bottom: 10px;
}

.product-code {
  font-size: 1rem;
  color: #ffffff;
  text-align: left; 
  margin-top: 5px;
}

.product-gender {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.product-sizes {
  margin-top: 15px;
}

.size-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff3f3;
  text-align: left;
}

.size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size-button {
  background-color: #000000; 
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
}

.size-button:hover {
  border-color: rgb(255, 255, 255);
}

.size-button.selected {
  background-color: rgb(0, 0, 0); 
  border-color: rgb(255, 255, 255);
  font-weight: bold;
}

.buy-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%; /* Ajusta el botón al ancho del contenedor */
  max-width: 300px; /* Tamaño máximo del botón */
  text-align: center;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #333;
}

.shipping-info {
  margin-top: 15px; 
  font-size: 0.9rem; 
  color: #ffffff;
  text-align: left;
  border-top: 1px solid #ccc;
  padding-top: 20px; 
}

.product-characteristics {
  margin-top: 10px; 
  font-size: 1rem;
  color: #ffffff;
}

.product-characteristics p {
  margin: 3px 0; 
}

.product-description {
  margin-top: 40px; 
  text-align: center; 
}

.description-title {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin-bottom: 5px; 
  color: #ffffff; 
}

.description-divider {
  width: 50px; 
  height: 3px;
  background-color: #ffffff; 
  margin: 10px auto; 
  border: none;
}

.section-divider {
  width: 100%; 
  height: 1px; 
  background-color: #000; 
  margin: 40px auto;
  border: none;
}

.description-text {
  font-size: 1rem; 
  line-height: 1.4; 
  color: #ffffff; 
  margin: 0 auto;
  max-width: 600px;
}

.product-recommendations {
  margin-top: 40px;
  text-align: left; 
  width: 100%;
}

.recommendations-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: left;
}

.recommendations-grid {
  display: flex; 
  flex-wrap: nowrap;
  gap: 20px; 
  overflow-x: auto; 
  justify-content: flex-start; 
}

.recommendation-item {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  flex: 0 0 auto;
}

.recommendation-image {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 10px;
}

.recommendation-name {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.recommendation-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}
