.cart-widget {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-widget i {
  font-size: 1.5rem;
  color: #fff;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 0.8rem;
  position: absolute;
  top: -5px;
  right: -10px;
}
